.line {
    height: 100px;
    width: 1px;
    background: black;
}

.horizontal-line {
    height: 1px;
    background: #333;
}

.sell {
    position: relative;
}

.sell::before {
    content: "";
    background: #f9f9f9;
    border-radius: 50%;
    z-index: -1;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: -35px;
}

.cards {
    position: relative;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.8s ease;
}

.cards:first-child {
    color: white;
    background: #002444;
}

.cards:hover:first-child {
    /*background: white;*/
    /*color: #002444;*/
}

/* --- Defining the circles width, height and background ---  */
.cards::before, .cards::after{
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.1;
    background: linear-gradient(137.76deg, #FFFFFF 18.03%, rgba(255, 255, 255, 0) 92.51%);
}

/* --- Positioning the circles --- */
.cards::before {
    top: 0;
    right: 20px;
    transform: translate(80px, -60px);
    transition: all 0.8s ease;
}

.cards::after {
    bottom: 0;
    left: 25px;
    transform: translate(-80px, 60px);
    transition: all 0.8s ease;
}

/* --- Positioning the circles on HOVER --- */
.cards:hover::before {
    transform: translate(40px, -20px);
}

.cards:hover::after {
    transform: translate(-40px, 20px);
}

/*---- SLIDER -----*/

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 50px;
}

.next-btn {
    right: 50px;
}

.swiper {
    position: relative !important;
}

.swiper-pagination {
    background: transparent !important;
    z-index: 2;
    position: absolute !important;
    margin-top: 20px !important;
}

/* ----- SWIPER PAGINATION -----*/
.swiper-pagination-bullet {
    height: 8px !important;
    width: 8px !important;
    background: #00CEDE;
    border-radius: 100px !important;
    transition: all 0.4s ease-out !important;
}

.swiper-pagination-bullet-active {
    background-color: #00CEDE !important;
    width: 3rem !important;
}

@media screen and (max-width: 600px) {
    .sell::before {
        content: "";
        background: #f9f9f9;
        border-radius: 50%;
        z-index: -1;
        width: 100px;
        height: 100px;
        position: absolute;
        top: -15px;
        left: -25px;
    }

    .cards {
        width:90%;
        margin: 0 auto;
    }
}